:root {
  --easeOutCubic: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  --easeInOut: all 0.2s ease-in-out;
  font-size: 10px; }

body {
  font-size: 1.4rem;
  margin: 0;
  padding: 0; }

.main-wrapper {
  /*padding: calc(var(--lineHeight)*2);*/
  height: 100vh;
  margin-bottom: 0; }

h1 {
  font-size: 24px;
  font-weight: 700; }

h2 {
  /*font-family: "Roboto Mono", monospace;*/
  font-size: 2.1rem;
  font-weight: 500;
  margin: 0;
  margin-bottom: 0.8rem;
  line-height: 1;
  letter-spacing: normal; }

a {
  text-decoration: none; }

a:hover {
  color: black;
  text-decoration: underline; }
