#results {
	margin-top: 2.4rem;
	max-width: 80rem;
	margin: 0 auto;
}
.listEntry {
	display: flex;
	align-items: flex-start;
	padding: 1.6rem;
	margin-bottom: 0;
	transition: var(--easeOutCubic)
}
.listEntry img {
	min-width: 4.8rem;
	max-width: 4.8rem;
	padding: .4rem;
	transition: var(--easeOutCubic)
}
.listEntry:hover {
	background-color: #faf6ee;
	cursor: pointer;
}
.listEntry:hover img {
	padding: 0;
}
h3 {
	font-weight: 700;
	font-size: 1.6rem;
}
h3 a.edit {
	font-weight: 400;
	margin-left: 1.6rem;
	opacity: 0;
	transition: var(--easeOutCubic);
}
h3 a.delete {
	color: red;
	font-weight: 400;
	float: right;
	opacity: 0;
	transition: var(--easeOutCubic)
}
.listEntry:hover h3 a.delete, 
.listEntry:hover h3 a.edit {
	opacity: 1;
}
#search-form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
  margin-top: 3.2rem;
}
.search-container {
	margin: 0 0 1.6rem 0;
	display: flex;
    align-items: center;
    flex-flow: row;
  position: relative;
}
.search-container select {
	margin: .8rem;
}
.search-entry-info {
	margin-left: 2.4rem;
	min-width: 0;
	flex: 1;
}
.search-entry-info .entry {
	font-size: 1.8rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-bottom: .8rem;
}
.clear {
	text-align: center;
	cursor: pointer;
}
.mood-select {
	margin-right: 4rem;
	margin-left: .8rem;
	left: unset;
}
.mood-board {
  left: 0;
	top: 5rem;
	margin: 0;
}

@media only screen and (max-width: 680px) {
  .search-container {
    flex-flow: column;
  }
}