#results {
	margin-top: 2.4rem;
	max-width: 80rem;
	margin: 0 auto;
}
.listEntry {
	display: flex;
	align-items: flex-start;
	padding: 1.6rem;
	margin-bottom: 0;
	transition: var(--easeOutCubic)
}
.listEntry img {
	min-width: 4.8rem;
	max-width: 4.8rem;
	padding: .4rem;
	transition: var(--easeOutCubic)
}
.listEntry:hover {
	background-color: #faf6ee;
	cursor: pointer;
}
.listEntry:hover img {
	padding: 0;
}
h3 {
	font-weight: 700;
	font-size: 1.6rem;
}
#search-form {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
.search-container {
	margin: 4rem 0 1.6rem 0;
	display: flex;
    align-items: center;
    flex-flow: row;
}
.search-container select {
	margin: .8rem
}
.search-entry-info {
	margin-left: 2.4rem;
	min-width: 0;
	flex: 1;
}
.search-entry-info .entry {
	font-size: 1.8rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-bottom: .8rem;
}
.mood-select {
	margin-right: 4rem;
	margin-left: .8rem;
	left: unset;
}
.mood-board {
	left: unset;
	top: 8rem;
	margin: 0;
}