:root {
  --easeOutCubic: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  --easeInOut: all 0.2s ease-in-out;
  font-size: 10px;
  /*colors*/
  /*default theme*/
  --primary: #faf6ee;
  --primary-hover: #f5efe5;
  --primary-darker: #dcd5c2;
  --primary-even-darker: #bdafa1;
  --accent: #B6FFD3;
  --accent-hover-border: #5AEA93;
  --accent-hover-bg: #91F6B9;
  --secondary-button-hover: #DADADA;
  /*default fonts and strokes*/
  --fas: #000;
  --bg-color: #fff;
  /*universal colors*/
  --danger: red;
  --none: rgba(0, 0, 0, 0);
  /*dark mode*/
}

::selection {
  background-color: var(--accent);
  caret-color: var(--accent);
}

*::before, *::after {
  stroke-linecap: round;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, iframe {
  vertical-align: bottom;
  max-width: 100%;
}

input, textarea, select {
  font: inherit;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html, body {
  height: 100vh;
}

body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

.main-wrapper {
  height: 100vh;
  margin-bottom: 0;
}

h1 {
  font-size: 2.4rem;
  font-weight: 700;
}

h2 {
  font-size: 2.8rem;
  font-weight: 500;
  margin: 0;
  margin-bottom: 2.4rem;
  line-height: auto;
  letter-spacing: normal;
}

h3 {
  font-size: 1.6rem;
  margin-top: 3.2rem;
  margin-bottom: 1.6rem;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--fas);
  text-decoration: underline;
}

select {
  border: 1px solid var(--primary-darker);
  padding: 0.8rem;
}

select>option {
  padding: 0.8rem;
}

select>option:hover {
  background-color: var(--accent);
}

ul {
  padding-left: 0;
}

.prev, .next, .mood-select {
  position: relative;
}

.mood-select {
  padding: 1rem 3.2rem 1rem 1.6rem;
  background-color: var(--primary);
  border-radius: 0.8rem;
  border: 1px solid var(--primary-darker);
  display: inline-block;
  transition: background-color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.mood-select:hover {
  background-color: var(--primary-darker);
  text-decoration: none;
}

.mood-select.selected {
  background-color: white;
  padding: 0 3.2rem 0 0.8rem;
  border: 1px solid white;
}

.prev:before, .next:after {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  position: relative;
  display: inline-block;
  bottom: 1px;
  border-top: 0.3rem solid var(--fas);
  border-right: 0.3rem solid var(--fas);
  transition: var(--easeOutCubic);
}

.prev:before {
  transform: rotate(-135deg);
  margin-right: 0.8rem;
}

.next:after {
  transform: rotate(45deg);
  margin-left: 0.8rem;
}

.prev:hover:before {
  transform: rotate(-135deg) translate(3px, -3px);
}

.next:hover:after {
  transform: rotate(45deg) translate(3px, -3px);
}

.calendar .prev, .calendar .next {
  width: 1.6rem;
  height: 1.6rem;
  padding: 2.4rem;
  border-radius: 50%;
  position: relative;
  transition: var(--easeOutCubic);
}

.calendar .prev:before, .calendar .next:after {
  width: 0.7rem;
  height: 0.7rem;
  margin: 0;
}

.calendar .prev:before {
  left: -0.2rem;
  bottom: 1.1rem;
}

.calendar .next:after {
  left: -0.6rem;
  bottom: 1.1rem;
}

.calendar .prev:hover {
  background-color: var(--primary-hover);
  transform: translateX(-0.5rem);
}

.calendar .next:hover {
  background-color: var(--primary-hover);
  transform: translateX(0.5rem);
}

.calendar .prev:hover:before {
  transform: rotate(-135deg);
}

.calendar .next:hover:after {
  transform: rotate(45deg);
}

.calendar .prev:active {
  transform: translateX(-1rem);
}

.calendar .next:active {
  transform: translateX(1rem);
}

.calendar .prev:after, .calendar .next:before {
  /*
  content: "";
  padding: 3.2rem;
  position: absolute;
  left: -50%;
  top: -50%;
  */
}

.mood-select:before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  transform: rotate(135deg);
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -5px;
  border-top: 0.2rem solid var(--fas);
  border-right: 0.2rem solid var(--fas);
  transition: var(--easeOutCubic);
}

.mood-select:hover:before {
  margin-top: 0px;
}

.mood-select img {
  width: 4rem;
}

.mood-select:hover img {}

.entry-header {
  margin-top: 4rem;
  margin-bottom: 1.6rem;
}

.entry-header .header {
  text-align: center;
  padding: 0;
  margin: 0;
}

.entry-header>* {
  display: inline-block;
}

.entry-header>*:last-child {
  text-align: right;
}

.mood-board {
  margin: 0 auto;
  margin-top: 1.6rem;
  margin-left: -14rem;
  max-width: 28rem;
  border-radius: 0.8rem;
  border: 1px solid var(--primary-darker);
  overflow: hidden;
  transition: var(--easeOutCubic);
  position: absolute;
  z-index: 2;
  left: 50%;
  max-height: 0;
  opacity: 0;
}

.mood-board.open {
  max-height: 26rem;
  opacity: 1;
}

.mood-board ul {
  max-width: 28rem;
  max-height: 20.5rem;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  padding: 0.8rem;
  background-color: white;
  overflow-y: scroll;
}

.mood-board ul li {
  list-style: none;
  padding: 0.8rem;
  margin: 0;
  border-radius: 0.8rem;
  transition: var(--easeOutCubic);
}

.mood-board ul li input {
  display: none;
}

.mood-board ul li img {
  height: 3.2rem;
  width: 3.2rem;
  margin: 0;
}

.mood-board ul li:hover {
  cursor: pointer;
  background-color: var(--primary);
}

#entry-form {
  height: 100%;
}

.journal-section {
  font-size: 1.4rem;
  max-width: 65rem;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.journal-input textarea {
  height: 7rem;
  border: none;
  border-radius: 0.8rem;
  background-color: white;
  padding: 2rem 2.4rem;
  font-size: 1.6rem;
  line-height: 1.6;
  resize: none;
  overflow: hidden;
  border: 2px solid var(--primary-darker);
  box-shadow: 0px 0px 0px 5px var(--bg-color);
  transition: var(--easeOutCubic);
  margin-top: 30vh;
}

.journal-input textarea:not(:focus):not(.expanded):hover {
  box-shadow: 0px 0px 0px 5px var(--primary);
  border-color: var(--primary-even-darker);
}

.journal-section textarea::placeholder:hover {
  color: var(--primary-even-darker);
}

.journal-input textarea.focused, .journal-input textarea:focus {
  outline: none;
  border: 1px solid var(--primary-even-darker);
  box-shadow: 0px 0px 0px 5px var(--primary);
  background-color: var(--bg-color);
  height: 22rem;
  overflow: auto;
  margin-top: 22vh;
}

.journal-input textarea.expanded {
  outline: none;
  border: 2px solid var(--none);
  box-shadow: 0px 0px 0px 5px var(--none);
  background-color: var(--none);
  overflow: auto;
  margin-top: 3.6rem;
  padding: 0;
  padding-right: 1.6rem;
  font-size: 2.1rem;
  flex: 1;
}

.journal-section textarea::placeholder {
  color: var(--primary-even-darker);
  opacity: 1;
  font-size: 1.8rem;
  line-height: 1.4;
  font-style: italic;
  text-align: center;
  white-space: nowrap;
  width: 100%;
  transition: var(--easeOutCubic);
}

.journal-section textarea:focus::placeholder {
  text-align: left;
  opacity: 1;
}

.journal-input {
  display: flex;
  flex-direction: column;
  flex: 1;
}

nav {
  height: 100%;
  display: inline-block;
  position: fixed;
  left: 0;
  background-color: var(--primary);
  transition: var(--easeOutCubic);
  overflow: hidden;
  width: 6.4rem;
  border-right: 1px solid var(--primary-hover);
}

nav ul {
  padding: 0;
  left: 0;
  position: absolute;
  width: 178px;
}

nav ul:first-child {
  flex: 1;
}

nav ul:last-child {
  bottom: 0;
}

nav ul li {
  list-style: none;
  text-align: left;
  font-size: 1.6rem;
  color: var(--fas);
  line-height: 2;
  transition: var(--easeInOut);
}

nav ul li:hover {
  color: var(--fas);
  line-height: 2;
}

nav ul li a {
  display: block;
  padding: 1.6rem 1.6rem;
  max-height: 6.4rem;
  display: flex;
  justify-content: left;
}

nav ul li a::before {
  content: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  display: inline-block;
  height: 3.2rem;
  width: 3.2rem;
  position: relative;
  bottom: 0;
  transform-origin: center;
  transition: var(--easeInOut);
}

nav ul li a span {
  display: inline-block;
}

nav ul li a:hover::before {
  background-size: 100%;
}

nav ul li a:hover {
  background-color: var(--primary-hover);
}

nav ul li a:hover svg {
  transform: scale(1.25) rotate(10deg);
}

nav ul li a::before {
  margin-right: 1.6rem;
}

nav ul li a svg {
  transform-origin: center;
  transition: all 0.2s ease-in-out;
  width: 3.2rem;
  margin-left: 0.4rem;
  margin-right: 2rem;
}

nav ul li:first-child a:hover:before {
  transform: rotate(45deg);
}

.calendar-page svg {
  display: inline-block;
}

.calendar-page:hover svg#cal-icon .icon-date {
  text-decoration: none !important;
  position: relative;
  left: 1rem;
  bottom: 1rem;
}

.cls-1 {
  fill: #1a1818;
}

.cls-1.current {
  fill: var(--primary-darker);
}

.input-controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: -3.6rem;
  z-index: -1;
  opacity: 0;
  transition: 0.2s all ease;
}

.input-controls>* {
  padding: 0.8rem 2.4rem;
}

.input-controls.focused {
  z-index: 1;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
  opacity: 1;
}

.journal-input textarea.expanded~.input-controls {
  order: 3;
}

.button {
  border: 2px solid var(--accent);
  background-color: var(--accent);
  border-radius: 0.8rem;
  text-decoration: none;
  line-height: 1;
  cursor: pointer;
  padding: 1rem 2rem;
  transition: var(--easeOutCubic);
}

.button:hover {
  background-color: var(--accent-hover-bg);
  border-color: var(--accent-hover-border);
  text-decoration: none;
  color: var(--fas);
}

.secondary.button {
  border-color: var(--fas);
  background-color: var(--bg-color);
}

.secondary.button:hover {
  background-color: var(--secondary-button-hover)
}

.expand {
  position: relative;
}

.expand::before {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  height: 1.6rem;
  position: relative;
  top: 2px;
  width: 1rem;
  padding: 0rem 1rem;
  transition: var(--easeOutCubic);
  background-image: url("../assets/img/expand.svg");
}

.expand:hover::before {
  transform: translateY(5px);
}

.journal-input textarea.expanded~.input-controls .expand::before {
  transform: rotate(180deg);
}

.journal-input textarea.expanded~.input-controls .expand:hover::before {
  transform: rotate(180deg) translateY(5px);
}

.length-tracker {
  margin-right: auto;
  padding-left: 0;
  position: relative;
}

.length-tracker::before {
  content: attr(data-length-status);
  top: -100%;
  opacity: 0;
  background-color: var(--primary);
  border: 2px solid var(--primary-darker);
  padding: 1rem;
  position: absolute;
  white-space: pre;
  line-height: 1;
  pointer-events: none;
  transform: translateY(-10px);
  transition: var(--easeOutCubic);
}

.length-tracker::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  opacity: 0.2;
  padding: 3.2rem;
}

.length-tracker:hover::before {
  transform: translateY(-3px);
  opacity: 1;
}

.text-settings {}

.latest-entry::before {
  background-image: url("../assets/img/latest-entry.svg");
}

.calendar-page::before {
  /*background-image: url('../assets/img/calendar.svg');*/
}

.search::before {
  background-image: url("../assets/img/search.svg");
}

.account::before {
  background-image: url("../assets/img/account.svg");
}

.text-settings::before {
  background-image: url("../assets/img/text-settings.svg");
}

.sendToBottom {
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-name: sendToBottom;
}

@keyframes sendToBottom {
  0% {
    opacity: 1;
    position: relative;
    bottom: auto;
  }
  50% {
    opacity: 0;
  }
  100% {
    bottom: 0;
    position: absolute;
  }
}

.journal-input>.helper-prompt {
  text-align: center;
  margin: 2.4rem;
  margin-bottom: 3.6rem;
  align-self: center;
  transition: var(--easeOutCubic);
}

.helper-prompt-box {
  background-color: var(--primary);
  padding: 1.6rem;
  text-align: center;
  opacity: 0;
  position: relative;
  display: none;
  pointer-events: none;
  transition: var(--easeOutCubic);
}

.helper-prompt-box.open {
  opacity: 1;
  pointer-events: visible;
  display: block;
}

.journal-input textarea.expanded~.helper-prompt {
  order: 4;
  position: relative !important;
}

.journal-input textarea.expanded~.helper-prompt-box {
  order: 3;
}

.prompt {
  color: grey;
  background-color: white;
  border: 1px solid var(--primary-darker);
  font-style: italic;
  padding: 1.6rem;
  display: block;
  line-height: 1.4;
  border-radius: 0.8rem;
  text-align: center;
  margin: 1.6rem;
  text-transform: unset;
}

.new-prompt {
  margin: 1rem;
}

.exit {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2.1rem;
  margin: 1.5rem;
  line-height: 0.4;
}

/*view mode*/

.read-only {}

.read-only .helper-prompt, .read-only .input-controls.focused, .read-only .mood-select::before {
  opacity: 0;
  pointer-events: none;
  transition: var(--easeOutCubic);
}

.read-only .mood-select {
  pointer-events: none;
  left: 0;
}

#date .edit {
  color: var(--danger);
  margin-left: 0.8rem;
  font-weight: 400;
  font-size: 1.4rem;
  cursor: pointer;
}

.read-only #date .edit {
  color: var(--fas);
}

[data-show]>* {
  display: none;
}

[data-show="home"] .home, [data-show="signin"] .signin, [data-show="signup"] .signup, [data-show="password-reset"] .password-reset, [data-show="options"] .options, [data-show="change-appearance"] .change-appearance, [data-show="change-email"] .change-email, [data-show="change-password"] .change-password, [data-show="delete-account"] .delete-account {
  display: block;
}

/* toggle content based on account & store status */

[data-account-state] {
  display: none;
}

[data-account-state="signed-in"], [data-account-state="signed-out"] {
  display: block;
}

[data-store-state="empty"] [data-hide-if="store-empty"], [data-store-state="not-empty"] [data-hide-if="store-not-empty"] {
  display: none;
}

[data-account-state="signed-in"] [data-hide-if="signed-in"], [data-account-state="signed-out"] [data-hide-if="signed-out"] {
  display: none;
}

.calendar {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  margin: 2.4rem;
  margin-bottom: 10vh;
}

.prev-month, .next-month {
  text-decoration: none;
  color: var(--fas);
  padding: 1.6rem;
  transition: var(--easeOutCubic);
}

.prev-month:hover, .next-month:hover {
  text-decoration: none;
}

.prev-month:hover {
  transform: translateX(-5px);
}

.next-month:hover {
  transform: translateX(5px);
}

.calendar-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  font-weight: 600;
  font-size: 1.6rem;
  margin: 1.6rem;
  background-color: white;
}

.calendar-container>* {
  padding-left: unset;
}

.calendar-container .day-header, .calendar-container .days {
  display: grid;
  grid-template-columns: 5.6rem 5.6rem 5.6rem 5.6rem 5.6rem 5.6rem 5.6rem;
  grid-template-rows: auto;
}

.day-header {
  color: var(--primary-darker);
  margin-bottom: 1.6rem;
}

.month-year {
  text-transform: lowercase;
  padding: 2.4rem;
}

.calendar-container .day-header li, .calendar-container .days li {
  list-style: none;
  text-align: center;
  margin-bottom: 0;
}

.calendar-container .day-header li {
  margin-bottom: 0;
}

.calendar-container .days li {
  padding: 0.8rem;
}

.calendar-container .days li:not(.empty) a {
  display: inline-block;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  line-height: 3.6rem;
  background-color: white;
  text-decoration: none;
  text-align: center;
  color: var(--fas);
  border: 2px white solid;
  position: relative;
  transition: var(--easeOutCubic);
}

.calendar-container .days li:not(.empty) a:hover {
  background-color: var(--primary-hover);
}

.calendar-container .days li:not(.empty).today a {
  background-color: var(--primary-hover);
}

.calendar-container .days li:not(.empty).completed a {
  background-color: var(--accent);
}

.calendar-container .days li:not(.empty).completed a:hover {
  background-color: var(--bg-color);
  border-color: var(--fas);
}

.calendar-container .days li:not(.empty).disabled a {
  color: var(--primary-darker);
  pointer-events: none;
}

.calendar-container .days li:not(.empty):not(.completed) a:before {
  content: "write an entry";
  position: absolute;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--bg-color);
  background-color: var(--fas);
  left: -76%;
  top: -95%;
  line-height: 1;
  opacity: 0;
  z-index: 10;
  pointer-events: none;
}

.calendar-container .days li:not(.empty):not(.completed) a:after {
  content: "";
  width: 1.6rem;
  height: 1.6rem;
  background-color: var(--fas);
  transform: rotate(-45deg);
  position: absolute;
  left: 31%;
  top: -36%;
  z-index: 9;
  opacity: 0;
}

.calendar-container .days li:not(.empty):not(.completed) a:hover:before, .calendar-container .days li:not(.empty):not(.completed) a:hover:after {
  opacity: 1;
}

.message {
  margin: 4rem;
  text-align: center;
}

.message img {
  width: 8rem;
  margin: 0 auto;
}

.message p {
  font-size: 1.8rem;
  margin-top: 2.4rem;
  margin-bottom: 5.6rem;
}

/*accounts*/

[data-show="options"] .options {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

#account-settings {
  margin: 3.2rem;
}

#account-settings h2 {
  margin-bottom: 3.2rem;
}

#account-settings p {
  line-height: 1.6;
  margin-bottom: 3.2rem;
}

#account-settings button {
  margin-bottom: 2.4rem;
  margin-right: 1.6rem;
  text-transform: lowercase;
  border: 2px solid var(--fas);
  background-color: var(--bg-color);
  text-decoration: none;
  line-height: 1;
  border-radius: 0.8rem;
  cursor: pointer;
  padding: 1rem 2rem;
  transition: var(--easeOutCubic);
}

#account-settings button:hover {
  background-color: var(--secondary-button-hover);
  color: var(--fas);
  text-decoration: none;
}

#account-settings button.small {
  font-size: 1.4rem;
}

#account-settings button.danger {
  border: 2px solid var(--danger);
  color: var(--danger);
}

#account-settings button.danger:hover {
  background-color: var(--danger);
  color: white;
}

#delete-confirmation {
  margin-top: 20vh;
  margin-bottom: 3.2rem;
}

#account-settings input {
  padding: 1.6rem;
  margin: 1.6rem 0;
  border: 1px solid var(--primary-darker);
  transition: var(--easeOutCubic);
}

#account-settings input:focus {
  border: 2px solid var(--fas);
}

#account-settings label {
  display: block;
}

#delete-confirmation {
  display: block;
}

.signup-link {
  margin-bottom: 2.4rem;
}

.sr-only {
  display: block;
}

#no-results {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 14vh;
}

#no-results img {
  width: 10rem;
  margin-bottom: 1.6rem;
}

#no-results p {
  text-align: center;
}

#account-settings button.default.disabled {
  border-color: lightgray;
  color: lightgray;
  cursor: url("./../assets/img/coming-soon.svg") 50 50, not-allowed;
}

#account-settings button.default.disabled:hover {
  border-color: lightgray;
  color: lightgray;
  background-color: unset;
}

#account-settings>div {
  max-width: 50rem;
  margin-top: 15vh;
}

.divider {
  width: 25%;
  height: 1%;
}

#account-settings .divider:before {
  content: "";
  border-bottom: 0.1rem solid lightgray;
  display: block;
  margin: 1.6rem 0 4rem;
  width: 100%;
  opacity: 0.75;
}

.change-appearance .selected {
  font-weight: 700;
  text-decoration: underline;
}

.change-appearance .selected::before {
  content: "➜";
  display: inline-block;
  margin-right: 0.8rem;
}

.change-appearance a {
  margin-right: 0.8rem;
}

.change-appearance button {
  margin: 3.2rem 0rem;
}

#background-select a::before {
  content: none;
}

#background-select {
  display: block;
  margin-top: 3.2rem;
}

#background-select a {
  width: 5rem;
  height: 5rem;
  background-size: cover;
  background-color: white;
  border: 0.2rem solid black;
  border-radius: 1.6rem;
  display: inline-block;
  transition: var(--easeOutCubic);
}

#background-select a:hover {
  transform: scale(1.25);
}

#background-select a.selected {
  border-color: var(--accent);
}

.blank {
  background-image: url("");
}

.dots {
  background-image: url("./../assets/img/patterns/dots.png");
}

.grid {
  background-image: url("./../assets/img/patterns/grid.png");
}

.sun {
  background-image: url("./../assets/img/patterns/sun.png");
}

.confetti {
  background-image: url("./../assets/img/patterns/confetti.png");
}

.paper {
  background-image: url("./../assets/img/patterns/paper.png");
}

.squiggle {
  background-image: url("./../assets/img/patterns/squiggle.png");
}

[mode="blank"] {
  background-image: url("");
}

[mode="dots"] {
  background-image: url("./../assets/img/patterns/dots-icon.jpg");
}

[mode="grid"] {
  background-image: url("./../assets/img/patterns/grid-icon.jpg");
}

[mode="sun"] {
  background-image: url("./../assets/img/patterns/sun-icon.jpg");
}

[mode="confetti"] {
  background-image: url("./../assets/img/patterns/confetti-icon.jpg");
}

[mode="paper"] {
  background-image: url("./../assets/img/patterns/paper-icon.jpg");
}

[mode="squiggle"] {
  background-image: url("./../assets/img/patterns/squiggle-icon.jpg");
}

.tagEditor {
  border-top: 1px solid rgba(0, 0, 0, 0);
  border-left: 1px solid rgba(0, 0, 0, 0);
  border-right: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  padding: 0px 1.6rem 1.6rem 1.6rem;
  cursor: pointer;
  transition: all .15s ease-in-out;
  margin-top: -4.8rem;
}

.tagEditor:hover {
  background-color: var(--primary);
}

.tagEditor:focus-within:hover, .tagEditor:focus-within:active {
  background-color: rgba(0, 0, 0, 0);
}

.tagEditor:focus-within {
  border: 1px solid var(--primary-even-darker);
}

textarea+.tagEditor {
  opacity: 0;
  pointer-events: none;
}

textarea.focused+.tagEditor {
  margin-top: 1.6rem;
  opacity: 1;
  pointer-events: auto;
  border-bottom: 1px solid var(--primary-darker);
}

textarea.focused.expanded+.tagEditor {
  border-top: 1px solid var(--primary-darker);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

textarea.focused.expanded+.tagEditor:focus-within {
  border: 1px solid var(--primary-even-darker);
}

.tag {
  list-style: none;
  display: inline-block;
  margin-right: .8rem;
  margin-top: .8rem;
}

.tag:first-child {
  margin-top: 1.6rem;
}

.tag>input {
  border: none;
  background: none;
}

.tag>span {
  padding: .8rem;
  background-color: #D5FFE6;
  border: 1px solid #D5FFE6;
  border-radius: .8rem;
  position: relative;
  font-size: 14px;
  font-family: "roboto";
  word-wrap: anywhere;
  transition: all .15s ease-in-out;
  display: inline-block;
}

.tag.targeted>span {
  background: #D5FFE6;
  border: 1px solid #9CD7B3;
}

.tag>span:hover {
  background-color: #B6FFD3;
  border-color: #9CD7B3;
}

.tag.targeted>span:after {
  content: "\00D7";
  padding: 0px .8rem;
  width: 1.6rem;
  height: 1.6rem;
  background-color: #9CD7B3;
  border-radius: 20px;
  color: black;
  margin-left: .8rem;
}

#lastTag {
  font-size: 14px;
}

.read-only .tagEditor {
  border: 1px solid rgba(0, 0, 0, 0);
  pointer-events: none !important;
  padding: 0;
}

.read-only .tagEditor:hover {
  background: rgba(0, 0, 0, 0);
}

.read-only .tagEditor .tag>span {
  background: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  padding-left: 0;
}

.read-only .tagEditor #lastTag {
  opacity: 0;
  pointer-events: none;
}

/*mobile*/

@media only screen and (max-width: 680px) {
  #entry-form {
    padding: 0;
  }
  .entry-header {
    margin-top: 0;
    margin-bottom: 0;
  }
  #date {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 3.6rem;
    line-height: 1.75;
  }
  nav {
    display: flex;
    flex-flow: row;
    right: unset;
    height: auto;
    width: 100%;
    bottom: 0;
    margin: 0;
    border-top: 1px solid var(--fas);
    z-index: 15;
    background-color: white;
    border-right: none !important;
  }
  nav ul, nav ul:first-child, nav ul:last-child {
    display: flex;
    margin: 0;
    position: relative;
    width: auto;
  }
  nav ul li {
    font-size: 1.2rem;
    line-height: 1;
    margin-bottom: 0;
    padding: 0rem 0vw;
    width: 25%;
  }
  nav ul li a {
    justify-content: center;
  }
  nav ul li a::before {
    display: none;
  }
  nav ul li:not(:last-child) {
    border-right: 1px solid var(--fas);
  }
  nav ul li:hover {
    background-color: #eaeaea;
    line-height: 1;
  }
  h2 {
    font-size: 4vw;
  }
  .journal-section {
    height: 100vh;
  }
  .journal-input {
    margin-bottom: 4rem;
  }
  .journal-input textarea.expanded.focused, .journal-input textarea+.input-controls {
    padding: 0 3.6rem;
  }
  .journal-input textarea.expanded.focused {
    margin-top: 0;
    font-size: 1.4rem;
  }
  .journal-input>.helper-prompt {
    display: none;
  }
  .calendar-container .day-header, .calendar-container .days {
    grid-template-columns: auto auto auto auto auto auto auto;
  }
  .calendar-container .days li {
    padding: 0.2rem;
  }
  .calendar-container .days li:not(.empty) a, .calendar-container .days li:not(.empty).completed a {
    font-size: 1.2rem;
    width: 3.4rem;
    height: 3.4rem;
    line-height: 3rem;
  }
  .month-year {
    padding: 1.6rem;
  }
  .calendar {
    margin: 0;
  }
  .calendar-container {
    margin: 0;
  }
  .prev-month, .next-month {
    display: none;
  }
  .search-container {
    flex-flow: column;
  }
  .calendar-page svg, .search svg, .account svg, .latest-entry svg {
    display: none;
  }
  .to-nav {
    width: 50%;
    padding: 0.8rem 1.6rem;
    display: inline-block;
    font-size: 1.2rem;
    line-height: 2;
  }
  .to-nav:first-child {
    border-right: 1px solid var(--fas);
  }
  .to-nav:last-child {
    text-align: right;
  }
  .entry-header>c:first-child {
    border-bottom: 1px solid var(--fas);
  }
  .entry-header .prev, .entry-header .next {
    padding: 1.6rem;
    display: inline-block;
    width: 50%;
  }
  .entry-header .prev {
    border-right: 1px solid var(--fas);
  }
  .entry-header .next {
    text-align: right;
  }
  .header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }
  .header .mood-select {
    order: 1;
    line-height: 3;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 3.6rem;
  }
  .header .mood-board {
    margin-top: 4.8rem;
    left: unset;
    right: 0;
  }
  .mood-select.selected {
    margin-right: 0;
  }
  .calendar .prev, .calendar .next {
    margin-right: 0;
    margin-left: 0;
  }
  .calendar .prev:after, .calendar .next:before {
    content: none;
  }
  @media only screen and (max-height: 400px) {
    .to-nav {
      display: none;
    }
    .entry-header {
      border-bottom: 1px solid var(--fas);
      z-index: 10;
    }
    .header h2 {
      font-size: 1.4rem;
    }
    .mood-select.selected img {
      width: 2.4rem;
    }
    .mood-select.selected {
      margin-right: 2rem;
    }
    .header .mood-select {
      line-height: 2;
    }
    .entry-header>c[span="1"], .entry-header>c[span="7.."] {
      display: none;
    }
    .entry-header .header {
      padding: 0.4rem 0;
    }
    #date {
      line-height: 2;
    }
    .journal-input textarea.focused.expanded {
      padding-top: 1.6rem;
    }
  }
}

/* dark mode */

#dark-mode-enabled {
  background-color: #212226;
  background-blend-mode: overlay;
}

#dark-mode-enabled h2, #dark-mode-enabled h3 {
  color: #ddd;
}

#dark-mode-enabled button, #dark-mode-enabled .secondary.button, #dark-mode-enabled button.button:hover, #dark-mode-enabled a.button:hover {
  border: 2px solid #ddd;
  background-color: #212226;
  color: #ddd;
}

#dark-mode-enabled .secondary.button:hover {
  background-color: #41444b;
}

#dark-mode-enabled button.button {
  border: 2px solid #212226;
  background-color: var(--accent);
  color: #212226;
}

#dark-mode-enabled::selection {
  color: #313139;
}

#dark-mode-enabled nav {
  background-color: #313139;
  border-right: 1px solid #41444b;
}

#dark-mode-enabled #account-settings button:hover {
  background-color: #41444b;
  color: #ddd;
}

#dark-mode-enabled #account-settings button.danger:hover {
  background-color: var(--danger);
  color: var(--bg-color);
}

#dark-mode-enabled nav ul li, #dark-mode-enabled .prev:before, #dark-mode-enabled .next:after, #dark-mode-enabled label, #dark-mode-enabled select, #dark-mode-enabled option, #dark-mode-enabled #no-results, #dark-mode-enabled .month-year, #dark-mode-enabled .mood-select, #dark-mode-enabled .journal-input a:before, #dark-mode-enabled .mood-select.selected:before, #dark-mode-enabled .search-container span, #dark-mode-enabled p.entry, #dark-mode-enabled img[src*="./assets/img/empty.png"], #dark-mode-enabled img[src*="assets/img/empty.png"], #dark-mode-enabled .message img {
  filter: invert(0.8);
}

#dark-mode-enabled a.prev:hover:before, #dark-mode-enabled a.next:hover:after, #dark-mode-enabled .entry-header a:not(.mood-select):hover {
  color: #ddd;
}

#dark-mode-enabled .mood-select, #dark-mode-enabled .mood-select:hover {
  color: var(--fas);
}

#dark-mode-enabled .mood-select.selected {
  filter: invert(0);
  border-color: #212226;
  background-color: #212226;
}

#dark-mode-enabled .input-controls {}

#dark-mode-enabled .length-tracker::before {
  background-color: #363940;
  border: 2px solid #4a4e57;
}

#dark-mode-enabled .mood-board, #dark-mode-enabled .mood-board ul {
  background-color: #212226;
  border-color: #4a4e57;
}

#dark-mode-enabled .mood-board li:hover {
  background-color: #363940;
}

#dark-mode-enabled .calendar-container {
  background-color: #212226;
}

#dark-mode-enabled .entry-header, #dark-mode-enabled #account-settings a, #dark-mode-enabled .journal-input a, #dark-mode-enabled .read-only #date .edit, #dark-mode-enabled a.clear, #dark-mode-enabled .message p, #dark-mode-enabled .calendar-container .days li a {
  color: #ddd;
}

#dark-mode-enabled .day-header, #dark-mode-enabled .calendar-container .days li.disabled a {
  color: #4a4e57;
}

#dark-mode-enabled .calendar-container .days li:not(.disabled):hover a, #dark-mode-enabled .calendar-container .days li.today a, #dark-mode-enabled .calendar .next:hover, #dark-mode-enabled .calendar .prev:hover {
  background-color: #4a4e57;
}

#dark-mode-enabled .calendar-container .days li a {
  background-color: #212226;
  border-color: #212226;
}

#dark-mode-enabled .calendar-container .days li.completed a {
  color: #212226;
  border-color: var(--accent);
  background-color: var(--accent);
}

#dark-mode-enabled .calendar-container .days li.completed:hover a {
  background-color: inherit;
  color: var(--accent);
}

#dark-mode-enabled a.button, #dark-mode-enabled a.completed {
  color: #212226;
}

#dark-mode-enabled .journal-input textarea {
  background-color: #363940;
  color: #ddd;
  border: 2px solid #4a4e57;
  box-shadow: 0px 0px 0px 5px #212226;
}

#dark-mode-enabled .journal-input textarea.focused, #dark-mode-enabled .journal-input textarea:focus {
  background-color: #212226;
  color: #ddd;
  border: 2px solid #4a4e57;
  box-shadow: 0px 0px 0px 5px #363940;
}

#dark-mode-enabled .journal-input textarea.focused.expanded {
  background-color: var(--none);
  border: 2px solid var(--none);
  box-shadow: 0px 0px 0px 5px var(--none);
}

#dark-mode-enabled .journal-section textarea::placeholder {
  color: #4a4e57;
}

#dark-mode-enabled .helper-prompt-box.open {
  background-color: #363940;
  color: #ddd;
}

#dark-mode-enabled .helper-prompt-box.open svg {
  stroke: #ddd;
}

#dark-mode-enabled .input-controls.focused {
  color: #ddd;
}

#dark-mode-enabled .helper-prompt-box.open span {
  background-color: #212226;
  border-color: #4a4e57;
}

#dark-mode-enabled .listEntry:hover {
  background-color: #363940;
}

#dark-mode-enabled #account-settings input {
  background-color: #363940;
  border-color: #4a4e57;
  color: #ddd;
}

#dark-mode-enabled .tagEditor:hover {
  background-color: #363940;
}

#dark-mode-enabled .tagEditor:focus-within:hover, #dark-mode-enabled .tagEditor:focus-within:active {
  background-color: #0000;
}

#dark-mode-enabled .tagEditor:focus-within {
  border: 1px solid #41444b;
}

#dark-mode-enabled textarea.focused+.tagEditor {
  border-bottom: 1px solid #41444b;
}

#dark-mode-enabled textarea.focused.expanded+.tagEditor {
  border-top: 1px solid #41444b;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

#dark-mode-enabled textarea.focused.expanded+.tagEditor:focus-within {
  border: 1px solid #41444b;
}

#dark-mode-enabled #lastTag {
  color: #ddddddbd;
}

#dark-mode-enabled .tag>span {
  background-color: var(--primary);
  border: 1px solid var(--primary-darker);
  filter: invert(0.8);
}

#dark-mode-enabled .read-only .tag>span {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0);
}

#dark-mode-enabled .tag>span:hover {
  background-color: var(--primary-darker);
}

@media only screen and (max-width: 680px) {
  #dark-mode-enabled nav {
    background-color: #212226;
    border-top-color: #323232;
  }
  #dark-mode-enabled nav ul:not(:last-child) li {
    border-right: 1px solid white;
  }
  #dark-mode-enabled .entry-header>c:first-child {
    border-bottom-color: #323232;
  }
  #dark-mode-enabled .entry-header .prev {
    border-right-color: #323232;
  }
  #dark-mode-enabled .filter-dropdown {
    border-bottom-color: #323232;
    color: #ddd;
  }
  #dark-mode-enabled .filter-dropdown::after {
    border-color: #ddd;
  }
}